@import '../variables.scss';

@mixin shadow_1 {
  box-shadow: $shadow_1;
}

@mixin shadow_2 {
  box-shadow: $shadow_2;
}

@mixin shadow_3 {
  box-shadow: $shadow_3;
}

@mixin shadow_4 {
  box-shadow: $shadow_4;
}

@mixin shadow_5 {
  box-shadow: $shadow_5;
}

@mixin shadow_6 {
  box-shadow: $shadow_6;
}

@mixin shadow_7 {
  box-shadow: $shadow_7;
}

@mixin shadow_8 {
  box-shadow: $shadow_8;
}
