@import '../variables.scss';

@mixin h1 {
  font-style: $font_style;
  font-size: $font_h_1_size;
  line-height: $font_h_1_height;
  font-weight: $font_h_1_weight;
}

@mixin h2 {
  font-style: $font_style;
  font-size: $font_h_2_size;
  line-height: $font_h_2_height;
  font-weight: $font_h_2_weight;
}

@mixin h3 {
  font-style: $font_style;
  font-size: $font_h_3_size;
  line-height: $font_h_3_height;
  font-weight: $font_h_3_weight;
}

@mixin h4 {
  font-style: $font_style;
  font-size: $font_h_4_size;
  line-height: $font_h_4_height;
  font-weight: $font_h_4_weight;
}

@mixin t1 {
  font-style: $font_style;
  font-size: $font_t_1_size;
  line-height: $font_t_1_height;
  font-weight: $font_t_1_weight;
}

@mixin t2 {
  font-style: $font_style;
  font-size: $font_t_2_size;
  line-height: $font_t_2_height;
  font-weight: $font_t_2_weight;
}

@mixin t3 {
  font-style: $font_style;
  font-size: $font_t_3_size;
  line-height: $font_t_3_height;
  font-weight: $font_t_3_weight;
}

@mixin t4 {
  font-style: $font_style;
  font-size: $font_t_4_size;
  line-height: $font_t_4_height;
  font-weight: $font_t_4_weight;
}

@mixin tm1 {
  font-style: $font_style;
  font-size: $font_tm_1_size;
  line-height: $font_tm_1_height;
  font-weight: $font_tm_1_weight;
}

@mixin tm2 {
  font-style: $font_style;
  font-size: $font_tm_2_size;
  line-height: $font_tm_2_height;
  font-weight: $font_tm_2_weight;
}

@mixin tm3 {
  font-style: $font_style;
  font-size: $font_tm_3_size;
  line-height: $font_tm_3_height;
  font-weight: $font_tm_3_weight;
}

@mixin tm4 {
  font-style: $font_style;
  font-size: $font_tm_4_size;
  line-height: $font_tm_4_height;
  font-weight: $font_tm_4_weight;
}
